.App {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    font-size: 75px;
    color: #163767;
  }
  
  h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: #163767;
  }
  
  
  html {
    height: 100%;
  }
  
  body {
    background: url('../../../public/background-login.png');
    background-size: 100% 100%;
    height: 100%;
  }
  
  label {
    font-size: 25px;
  }
  
  .button {
    width: 50%;
    margin: auto;
    border: none;
    background-color: #377fbc;
    font-size: 25px;
    padding: 5px 5px 5px 5px;
    color: white;
  }
  
  .button:hover {
    background-color: #14234b;
  }
  
  p {
    width: 90%;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  
  #root {
    
    height: 100%;
  
  }

  .empty {
    height: inherit;

  }
  
  form {
    /*box-shadow: 2px 2px 2px 2px ;*/
    height: 85%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black 2px;
    border-radius: 25px;
    background-color: white;
  }
  
  
  
  .form-row-1 {
    display: flex;
    flex-direction: column;
    margin: 3%;
  }
  
  input {
    margin-top: 5%;
    border: solid black 2px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
  }
  
  .form-row-2 {
    margin: 3%;
    display: flex;
    flex-direction: column;
  }
  
  .loginPage {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
  }